* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #213440;
  color: #f2e6d0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: #242d40;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  border: blue solid 2px;
}

.search-input {
  padding: 0.2rem;
  border-radius: 10px;
}

.search-button {
  padding: 0.2rem;
}

/* Preview */

.feed {
  display: flex;
  flex-direction: column;
}

.article-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-article {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  background-color: #242d40;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.preview-title {
  margin-bottom: 1rem;
}

.article-top-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.lower-article-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.votes-container {
  display: flex;
}

.article-info {
  margin-bottom: 0.5rem;
}

.comment-container {
  padding-left: 1rem;
  display: flex;
  gap: 0.5rem;
}

.single-article img {
  width: 35%;
  max-width: 35%;
  height: auto;
  margin-bottom: 1rem;
}

.btn {
  background-color: #bfae99;
  color: white;
  padding: 0.7rem 1.2em;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #998b7a;
  cursor: pointer;
}
/* Full Article */

.full-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-header {
  border: blue solid 2px;
}

.article-body {
  margin-bottom: 1rem;
}

.home-button {
  position: fixed;
  top: 100px;
  right: 17px;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.comments-container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-comment {
  text-align: left;
  margin-bottom: 1.5rem;
  width: 83.5%;
  border: red solid 2px;
  padding: 0.5rem;
}

.comments-header {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.comment-error {
  color: red;
}

.avatar-img {
  width: 5%;
  max-width: 5%;
  height: auto;
  margin-bottom: 1rem;
}
