* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  border: red solid 2px;
  margin-bottom: 3rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  border: blue solid 2px;
}

/* Preview */

.feed {
  border: orange solid 2px;
  display: flex;
  flex-direction: column;
}

.articles-preview {
  border: rgb(64, 255, 0) 2px solid;
}

.single-article {
  margin: 1rem;
  padding: 2rem;
  background-color: orange;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.article-top-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.lower-article-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.votes-container {
  display: flex;
  align-items: center;
}
